@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: url("./fonts/400_Pretendard_Regular.otf") format("otf");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  src: url("./fonts/500_Pretendard_Medium.otf") format("otf");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  src: url("./fonts/600_Pretendard_SemiBold.otf") format("otf");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: url("./fonts/700_Pretendard_Bold.otf") format("otf");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  src: url("./fonts/800_Pretendard_ExtraBold.otf") format("otf");
}

body {
  margin: 0;
  place-items: center;
}

button {
  border: none;
  cursor: pointer;
}
