@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: url("./fonts/400_Pretendard_Regular.otf") format("otf");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  src: url("./fonts/500_Pretendard_Medium.otf") format("otf");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  src: url("./fonts/600_Pretendard_SemiBold.otf") format("otf");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: url("./fonts/700_Pretendard_Bold.otf") format("otf");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  src: url("./fonts/800_Pretendard_ExtraBold.otf") format("otf");
}

:root {
  --category-main-color: #dbdddf;
  --category-1-color: #e35b62;
  --category-2-color: #5e9d68;
  --category-3-color: #f4ce56;
  --category-4-color: #c9d46a;
  --category-bg-color: #f2f2f2;
  --calendar-sunday-color: #ec5e58;
  --calendar-saturday-color: #2f7cf6;
  --todo-dots-color: #acacac;
  --modal-bg-color: #f5f5f5;
  --modal-modify-color: #5c85f7;
  --modal-delete-color: #ed6863;
  --main-white-color: #fff;
  --main-black-color: #000;
}

body {
  margin: 0;
  place-items: center;
}

button {
  border: none;
  cursor: pointer;
}
*,
*:focus,
*:hover {
  outline: none;
}
